$radius-circle: 80px;
$radius-large: 16px;
$radius-medium: 8px;
$radius-small: 4px;
$radius-sharp: 0px;

$border-shapes: (
  circle: $radius-circle,
  large: $radius-large,
  medium: $radius-medium,
  small: $radius-small,
  sharp: $radius-sharp
);

@mixin border-shapes {
  @each $name, $size in $border-shapes {
    // Check if object has group property and value
    @if ($inGroup) {
      @if ($groupPlacement == "left") {
        .#{$name}-radius {
          border-bottom-right-radius: none;
          border-top-right-radius: none;
        }
      } @else if ($groupPlacement == "right") {
        .#{$name}-radius {
          border-bottom-left-radius: none;
          border-top-left-radius: none;
        }
      } else {
        .#{$name}-radius {
          border-bottom-left-radius: none;
          border-top-left-radius: none;
          border-bottom-right-radius: none;
          border-top-right-radius: none;
        }
      }
    } @else {
      .#{$name}-radius {
        border-radius: $size;
      }
    }  
  }
}
