@import "../../../styles/fonts";
@import "../../../styles/colors";

@include text-base-colors;
@include text-neutral-colors;

.header {
  @include prime-font-regular();
  font-weight: normal;
  margin: 0;
  &--h1 {
    font-size: 80px;
    line-height: 97px;
  }

  &--h2 {
    font-size: 64px;
    line-height: 78px;
  }

  &--h3 {
    font-size: 48px;
    line-height: 58px;
  }

  &--h4 {
    font-size: 40px;
    line-height: 49px;
  }

  &--h5 {
    font-size: 34px;
    line-height: 41px;
  }

  &--h6 {
    font-size: 28px;
    line-height: 34px;
  }

  &--subtitle {
    @include prime-font-semibold();
    font-size: 17px;
    line-height: 22px;
  }
}
