@import "../../../styles/colors";
@import "../../../styles/shapes";

.btn {
  background-color: $primary;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  box-shadow: 0 4px 8px rgba(#3860a5, 0.15);

  p {
    color: $white;
  }

  &--small {
    width: 112px;
    height: 32px;
    border-radius: 4px;
  }
  &--medium {
    width: 128px;
    height: 40px;
    border-radius: 8px;
  }
  &--large {
    width: 128px;
    height: 56px;
    border-radius: 16px;
  }

  &--outline {
    background-color: transparent !important;
    box-shadow: none;
    p {
      color: $primary !important;
    }
  }

  .group-left-piece {
    border-bottom-right-radius: none !important;
    border-top-right-radius: none !important;
  }

  .group-middle-piece {
    border-bottom-left-radius: none !important;
    border-top-left-radius: none !important;
    border-bottom-right-radius: none !important;
    border-top-right-radius: none !important;
  }

  .group-right-piece {
    border-bottom-left-radius: none !important;
    border-top-left-radius: none !important;
  }

  &:focus {
    background-color: #b7a3fe;
    outline: none;
  }

  &:hover {
    background-color: #7e66ff;
  }

  &:active {
    background-color: #6447ff;
  }

  &:disabled {
    background-color: $button-disabled;
    color: #9bb1c8;
  }
}
@include bg-base-colors();
@include bg-neutral-colors();
@include border-shapes();
