.btn-group {
  :first-child {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  :not(:first-child):not(:last-child) {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  :last-child {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
}
