@import "../../../styles/fonts";
@import "../../../styles/colors";
@import "../../../styles/shapes";

.checkbox {
  @include prime-font-regular();
  @include border-shapes();
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    padding: 1.5px;
    background-color: transparent;
    border: 1px solid $primary;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover input ~ .checkbox__checkmark {
    background-color: $light;
  }

  & input:checked ~ .checkbox__checkmark {
    background-color: $primary;
  }

  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__checkbox input:checked ~ .checkbox__checkmark:after {
    display: block;
  }

  &__checkbox .checkmark__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
