@import "../../../styles/fonts";
@import "../../../styles/colors";
@import "../../../styles/shapes";

.radio {
  @include prime-font-regular();
  @include border-shapes();
  height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
    background-color: transparent;
    border: 2px solid $primary;
    border-radius: 50% !important;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    &::after {
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      height: 13px;
      width: 13px;
    }
  }
  & &:hover input ~ .radio__checkmark {
    background-color: $light;
  }

  & input:checked ~ .radio__checkmark::after {
    display: block;
    content: "";
    border-radius: 50%;
    background-color: $primary;
    transform: translate(-50%, -50%);
  }
}

.radio__group {
  .radio:not(:last-child) {
    margin-right: 15px;
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .radio.radio:not(:last-child) {
      margin: 0 0 15px 0 !important;
    }
  }
}
